.box{
width:60px;
height:60px;
margin:10px;
display:inline-block;
}

.box:nth-child(odd){
background:green;
margin: -10px;
margin-left:2px;
}

.box:nth-child(even){
background:yellow;
margin-top:50px;
margin-right:2px;
}